.icon-menu svg {
    position: fixed;
    color: lightblue;
    z-index: 999;
   
}

.content-loader {
    height: 100%;
    width: 100%;
    justify-content: center; 
    padding-top: 19rem;
    padding-bottom: 22.8rem;
}
